/* body { */
    /* align-items: center; */
    /* text-align: center; */
/* } */

h1 {
    background-color: rgb(162, 162, 228);
    box-sizing: border-box;
    width: 180px;
    display: inline-block;
    margin: 20px;
    text-align: center;
} 

div {
    margin: 15px;
}